name: mvn_test

on:
 push:


jobs:
  build_and_test:

    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 11
      uses: actions/setup-java@v1
      with:
          java-version: 11.0

    - name: test
      run: mvn test
      
    - name: run 
      run: |
       mvn compile
       mvn exec:java -Dexec.mainClass="com.abccompany.app.App"  

